<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Registrar/ Editar Tarea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Registrar/Editar Tarea</h1>
    <form th:action="@{/task/save}" th:object="${task}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea th:field="*{description}" class="form-control" id="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="startDate">Fecha de Inicio:</label>
            <input type="date" th:field="*{startDate}" class="form-control" id="startDate" required>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="/" class="btn btn-danger">Cancelar</a>
    </form>
</div>
</body>
</html>
